@model Inventory.Entity.Registration
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
@using (Html.BeginForm("Save", "Registration", FormMethod.Post, new { @class = "form-control" }))
{
    <table>
        <tr>
            <td>
                @Html.Label("Name", new { @class = "form-control" })
                @Html.TextBoxFor(model => model.name, new { @class = "form-control" })
            </td>
        </tr>
        <tr>

            <td>
                @Html.Label("Gender")
            </td>
            <td>  Male @Html.RadioButtonFor(model => model.Gender, "Male", new { @class = "form-control" })</td>
            <td>  Female @Html.RadioButtonFor(model => model.Gender, "FeMale", new { @class = "form-control" })</td>

        </tr>
        <tr>
            <td>
                @Html.Label("City")
                @*@Html.DropDownListFor(model => model.cityid,(IEnumerable<SelectListItem>)ViewBag.city, new { @class = "form-control" })*@
                @Html.TextBoxFor(model => model.cityname, new { @class = "form-control" })
                @Html.HiddenFor(model => model.cityid)
              
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("IsStudent", new { @class = "form-control" })
                @Html.CheckBoxFor(model => model.isstudent, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="btnSubmit" value="Save" class="form-control" />
            </td>
        </tr>

    </table>


}

<script type="text/javascript">

    $(document).ready(function () {
        $("#cityname").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: 'GetCity',
                    type: 'POST',
                    dataType: 'json',
                    data: { Prefix: request.term},
                    success: function (data) {
                        response($.map(data, function (item) {
                            $("#cityid").val(item.cityid);
                            return { label: item.cityname, value: item.cityname };
                        }))
                    },
                    error: function () {
                        alert("Something is wrong");
                    }
                })
            },
            messages: {
                noResults: "",
                results: ""
            }
        });
    });



</script>








